@import '../../Styles/global';
@import '../../Styles/Variables';

.btn {
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  width: 100%;
  color: white;

  &__blue {
    background: #1f6aec;
  }

  &__green {
    background: #00cc83;
  }

  &:disabled {
    // cursor: not-allowed !important;
    // pointer-events: none;
    background-color: rgb(229, 229, 229);
  }
}
