$titleColor: #0B2253;
$titleFont: 'Crimson Text', serif;
$bodyFont: 'Inter';
$primaryColorLight: #D7E4F8;
$primaryColorDark:#041237;
$primaryColorMild:#0F256D;
$bodyFontColor:#525A6C;
$buttonFont:'Roboto', sans-serif;;
